

  .statistics__container {
    display: flex;
    height: 80vh;
    font-family: sans-serif;
    background-color: #FFCE07;
    padding: 20px;
    column-gap: 20px;
    margin-top: 80px;
  }
  
  .statistics__left {
    flex: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-right: 1px solid #ddd;
    border-radius: 30px;
  }
  
  .statistics__left-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
  }
  
  .statistics__week-block {
    margin-bottom: 16px;
  }
  
  .statistics__progress-bar {
    background: #ccc;
    border-radius: 5px;
    height: 10px;
    overflow: hidden;
  }
  
  .statistics__progress-bar-fill {
    background-color: #FFCE07;
    height: 100%;
    transition: width 0.3s ease;
  }
  
  .statistics__right {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
  }
  
  /* .statistics__grid-gallery {
    max-width: 1260px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  } */

  .statistics__grid-gallery {
    max-width: 1260px;
    width: 100%;
    height: 100%;
    background-color: #fff;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	gap: 2rem;
    border-radius: 30px;
    padding: 20px
  }
  
  .statistics__marathon-card {
    cursor: pointer;
    text-align: center;
  }
  
  .statistics__marathon-title {
    font-weight: bold;
    color: #000;
    margin-top: 8px;
  }

  @media (max-width: 1024px) {
    .statistics__container {
        display: flex;
        height: 120vh;
        font-family: sans-serif;
        background-color: #FFCE07;
        padding: 20px;
        column-gap: 20px;
        margin-top: 80px;
      }
      
    .statistics__grid-gallery {
        max-width: 860px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 2rem;
        border-radius: 30px;
        padding: 20px
      }
  }

  @media screen and (max-width: 468px) {
  
  }